body {
	font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", "Verdana", "Arial", sans-serif;
	font-size: 8pt;
	padding: 0;
	margin: 0;
}

#container {
	width: 100%;
}

#filters {
	float: left;
	width: 20%;
}

#detail {
	float: left;
	width: 75%;
}


label {
}

input.wide {
	width: 17em;
	height: 2em;
}

#filters fieldset {
	margin: 1em;
	border: 1px solid #202D26;
	width: 80%; 
}

#detail fieldset {
	margin: 1em;
	border: 1px solid #202D26;
	float: left;
	clear: right;
	width: 100%;
}

legend {
	color: #FFF;
	background-color: #67746C;
	border: 1px solid #202D26;
	padding: 2px 6px;
}

.subtext {
	font-size: 8pt;
	color: #999;
	width: 100%;
	text-align: center;
}

.item {
	color: #00F;
	text-decoration: underline;
	display: block;
}

.actions, .contents, .parents, .attrs {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.col {
	float: left;
	width: 5em; 
	margin-right: 1em;
}

.key, .value {
	width: 20em;
	overflow: hidden;
}

li {
	display: block;
	clear: both;
}

a, a:link a:visited a:active a:hover {
	color: #00F;
	text-decoration: underline;
}
